<h3>Form</h3>
<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
      <%= f.label "Category Type" %><br>
      <%= f.select :cat_type, Transaction.types.map {|r| [r.humanize]}, :selected => params[:type]%>
  </div>
  <%= f.submit "Add", class: "btn btn-primary" %><br><br>
  <%= link_to "New #{params[:type]}", sti_transaction_path("#{params[:type]}", nil, :new) %>
<% end %>
