<h1>Summary</h1>
<!-- <pre>
<h5>Income  <%=@total1%></h5>
<h5>Expense <%=@total2%></h5>
</pre> -->
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Category</th>
      <th>Type</th>
      <th>Count</th>
      <th>Maximum</th>
      <th>Minimum</th>
      <th>Average</th>
      <th></th>
    </tr>
</thead>
  <tbody>
    <% @try.each do |t| %>
      <tr>
        <td><%= t.c_name %></td>
        <td><%= t.c_type %></td>
        <td><%= t.count %></td>
        <td><%= t.max %></td>
        <td><%= t.min %></td>
        <td><%= t.avg %></td>
        <td><%= link_to "View" , details_path(id: t.cid) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
