
<h1>All <%=@type.pluralize%></h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th><div style="float:right; margin-right:25px; ">Amount</div></th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
</thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.trans_date %></td>
        <td><div style="float:right; margin-right:25px; "><%= transaction.amount %></div></td>
        <td><%= transaction.type %></td>
        <td><%= link_to 'Show', sti_transaction_path(transaction.type, transaction) %></td>
        <td><%= link_to 'Edit', sti_transaction_path(transaction.type, transaction, :edit) %></td>
        <td><%= link_to 'Destroy', sti_transaction_path(transaction.type, transaction), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% if @type != "Transaction" %>
    <tr>
      <th>Total</th>
      <td><div style="float:right; margin-right:25px; "> <%= @total %> </div><td>
      <td colspan="4"><td>
    <tr>
    <% end %>
  </tbody>
</table>
<% if @type !="Transaction" %>
<%= link_to 'See all transactions', sti_transaction_path %> | 
<% end %>
<%= link_to "New Income", sti_transaction_path("Income", nil, :new) %> | 
<%= link_to "New Expense", sti_transaction_path("Expense", nil, :new) %>
<br><br>