<div class="row">
  <h1>All <%=@type.pluralize%></h1>
  <div class="pull-right range-query">
    <%= form_tag sti_transaction_path(@type), method: :get do %>
      <%= text_field_tag 'search[date_from]', @search.date_from %>
      <%= text_field_tag 'search[date_to]', @search.date_to %>
      <%= submit_tag 'Search', class: 'btn search-button' %>
    <% end %>
  </div>
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Category</th>
      <th><div style="text-align:right; margin-right:25px; ">Amount</div></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
</thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.trans_date %></td>
        <td><%= invoice.type %></td>
        <td><%= invoice.category.name %></td>
        <td><div style="text-align:right; margin-right:25px; "><%= invoice.amount %></div></td>
        <td><%= link_to 'Show', sti_transaction_path(invoice.type, invoice) %></td>
        <td><%= link_to 'Edit', sti_transaction_path(invoice.type, invoice, :edit) %></td>
        <td><%= link_to 'Destroy', sti_transaction_path(invoice.type, invoice), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% if @type != "Transaction" %>
    <tr>
      <th>Total</th>
      <td colspan="2"></td>
      <td><div style="float:right; margin-right:25px; "> <%= @total %> </div><td>
      <td colspan="3"></td>
    <tr>
    <% end %>
  </tbody>
</table>

<%= pagy_bootstrap_nav(@pagy).html_safe %>
<br>
<% if @type !="Transaction" %>
<%= link_to 'See all transactions', sti_transaction_path %> | 
<% else %>
<%= link_to "Export to PDF", request.params.merge(format: "pdf") %> |
<% end %>
<%= link_to "New Income", sti_transaction_path("Income", nil, :new) %> | 
<%= link_to "New Expense", sti_transaction_path("Expense", nil, :new) %>
<br><br>