<h1>Transaction</h1>
<table class="table table-condensed">
  <tr>
    <th>Date</th>
    <td><%= @transaction.trans_date %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @transaction.description %></td>
  </tr>
  <tr>
    <th>Amount</th>
    <td><%= @transaction.amount %></td>
  </tr>
  <tr>
    <th>Type</th>
    <td><%= @transaction.type %></td>
  </tr>
  <tr>
    <th>Category</th>
    <td><%= @income.category.name %></td>
  </tr>
</table>
<%= link_to 'Back', :back %> | 
<%= link_to 'Edit', sti_transaction_path(@transaction.type, @transaction, :edit) %> | 
<%= link_to 'Destroy', sti_transaction_path(@transaction.type, @transaction), method: :delete, data: { confirm: 'Are you sure?' } %>
<br><br>