<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Finance App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "View all", root_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "New Income", sti_transaction_path("Income", nil, :new) %></li>
              <li><%= link_to "New Expense", sti_transaction_path("Expense", nil, :new) %></li>
              <li><%= link_to "Settings", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Reports <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "See all Incomes", sti_transaction_path("Income") %></li>
              <li><%= link_to "See all Expenses", sti_transaction_path("Expense") %></li>
              <li class="divider"></li>
              <li><%= link_to "Summary", summary_path %><li>
            </ul>
          </li>
          
        <% else %>
          <li><%= link_to "Sign Up" , new_user_registration_path %></li>
          <li><%= link_to "Login" , new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
